@model Community.Models.PostModelVm

@{
    ViewBag.Title = "Community Activities Classfied Ads";
}

<div class="container">
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="#">Home</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
            index
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row margin-top-10">
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject theme-font bold uppercase">Post Ads</span>
                        <span class="caption-helper hide">weekly stats...</span>
                    </div>
                </div>
                <div class="portlet-body clearfix">
                    <div class="col-md-4">
                        <div class="portlet box blue-hoki">
                            <div class="portlet-title">
                                <div class="caption">
                                    Location
                                </div>
                            </div>
                            <div class="portlet-body">
                                <ul class="nav nav-pills nav-stacked p-2">
                                    <li>Unite State</li>
                                </ul>
                                <div class="clearfix margin-bottom-10">
                                </div>
                                <ul class="nav nav-pills nav-stacked" style="max-width: 260px;">
                                    <li class="active">
                                        <a href="javascript:;">
                                            <span class="badge badge-warning pull-right">
                                                42
                                            </span>
                                            Category
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            Book
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge badge-success pull-right">
                                                3
                                            </span>
                                            Car
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge badge-success pull-right">
                                                3
                                            </span>
                                            Test
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge badge-success pull-right">
                                                3
                                            </span>
                                            Test1
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="portlet box">
                            <div class="portlet-title">
                                <div class="caption">
                                </div>
                                <div class="actions">
                                    <select class="form-control">
                                        <option>Newest First</option>
                                        <option>Oldest First</option>
                                        <option>By Title (A to Z)</option>
                                        <option>By Title (Z to A)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="portlet-body">
                                @foreach (var item in Model.posts)
                                {
                                    <div class="well">
                                        <a href="/post/details/4"><h4 class="block" style="color: #1d96fd; font-weight: bold; display: inline-block; cursor:pointer">@item.Title</h4></a>
                                        <span style="color: red">(7 days ago)</span>
                                        <span style="margin-bottom: 5px; display: block; color: #a7a2a2">
                                            <ul class="list-inline blog-tags">
                                                <li>
                                                    <i class="fa fa-tags"></i>
                                                    @foreach (var tagItem in @item.Tags)
                                                    {
                                                        <a href="javascript:;">
                                                            @tagItem.Name
                                                        </a>
                                                    }
                                                </li>
                                            </ul>
                                        </span>
                                        <p style="margin-top: 10px;">
                                            @item.Description
                                        </p>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
</div>
