@{
    ViewBag.Title = "Community Activities Classfied Ads";
    ViewBag.page = "Post";
}

<div class="container">
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="#">Post Ads</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
            Free Add
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row margin-top-10">
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                    </div>
                    <div class="actions">
                        <a href="/post/index" class="btn btn-circle btn-sm btn-danger"><i class="fa fa-reply"></i>Continue Add Ads</a>
                    </div>
                </div>
                <div class="portlet-body clearfix">
                    <h2 style="color: green;
                               padding: 0px 79px 83px;
                               font-weight: bold;
                               font-size: 31px;
                               font-family: 'Simple-Line-Icons';">

                        Your Ad is successfully added to our system and will be activated soo.
                        <br>
                        Thank you for using Community Web Site for your advertising needs.
                    </h2>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
</div>
