
<div class="container">
	<!-- BEGIN HEADER SEARCH BOX -->
	<form class="search-form" action="extra_search.html" method="GET">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search" name="query">
			<span class="input-group-btn">
			<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
			</span>
		</div>
	</form>
	<!-- END HEADER SEARCH BOX -->
	<!-- BEGIN MEGA MENU -->
	<!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
	<!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
	<div class="hor-menu ">
        <ul class="nav navbar-nav">
            @{
                string HomeActive = ViewBag.page == "Home" ? "active" : "";
                string PostActive = ViewBag.page == "Post" ? "active" : "";
                string CategoryActive = ViewBag.page == "CategoryMng" ? "active" : "";
                string PostMngActive = ViewBag.page == "PostMng" ? "active" : "";
            }

            <li class="@HomeActive">
                <a href="/home">Home</a>
            </li>
            <li class="@PostActive">
                <a href="/post">Post a Free Ads</a>
            </li>
            
            @if (User.IsInRole("Admin"))
            {
                <li class="@CategoryActive">
                    <a href="/category">Category Management</a>
                </li>
                <li class="@PostMngActive">
                    <a href="/adminManage/post">Ads Management</a>
                </li>
            }

        </ul>
	</div>
	<!-- END MEGA MENU -->
</div>