@using Microsoft.AspNet.Identity

<div class="container">
    <!-- BEGIN LOGO -->
    <div class="page-logo" style="font-size: 28px;">
        <a href="/">Sanjay Community</a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <a href="javascript:;" class="menu-toggler"></a>
    <!-- END RESPONSIVE MENU TOGGLER -->
    <!-- BEGIN TOP NAVIGATION MENU -->
    <div class="top-menu">
        <ul class="nav navbar-nav pull-right">

            <!-- BEGIN USER LOGIN DROPDOWN -->
            <li class="dropdown dropdown-user dropdown-dark">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <img alt="" class="img-circle" src="~/assets/admin/layout3/img/avatar9.jpg">
                    <span class="username username-hide-mobile">@User.Identity.Name</span>
                </a>
                @if (Request.IsAuthenticated)
                {
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="/Manage/index">
                                    <i class="icon-user"></i> My Profile
                                </a>
                            </li>

                            <li class="divider">
                            </li>
                            <li>
                                <form id="logoutForm" method="post" action="/Account/LogOff" style="display: none">
                                    @Html.AntiForgeryToken()
                                </form>
                                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-key"></i>Log off</a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        </ul>
                    }
            </li>
            <!-- END USER LOGIN DROPDOWN -->
        </ul>
    </div>
    <!-- END TOP NAVIGATION MENU -->
</div>