@model IEnumerable<Community.Models.CategoryVM>
<select class="form-control" id="parentCateogry" name="parentCateogry">
    <option value="0">...</option>
    @{ var ctStr = "&nbsp;"; }
    @foreach (var item in Model)
    {
        ctStr = "";
        if (item.Level > 1)
        {
            for (var j = 0; j < item.Level * 3; j++)
            {
                ctStr += "&nbsp;";
            }
        }

        <option value="@item.Id">@Html.Raw(ctStr+item.Name)</option>
    }
</select>